# Ignore node_modules folder
node_modules/

# Ignore logs and temporary files
logs/
*.log
npm-debug.log*

# Ignore environment variables
# .env

# Ignore build directory
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
